<section>
  <div class="container p-3">
      <div class="row">
      <div class="col-lg-5 mx-auto">
        <div class="p-5 bg-white shadow rounded-lg"><img src="https://res.cloudinary.com/mhmd/image/upload/v1557366994/img_epm3iz.png" alt="" width="200" class="d-block mx-auto mb-4 rounded-pill">
          
          <h2 class="text-center mb-4 text-muted">
            Angular 11 and Supabase - Storage Files
          </h2>
          
          <!-- UPLOAD-->
          <div class="custom-file overflow-hidden rounded-pill mb-5">
            <input id="customFile" type="file" (change)="selectFile($event)" class="custom-file-input rounded-pill">
            <label for="customFile" class="custom-file-label rounded-pill">Choose file</label>
          </div>
          <!-- End UPLOAD -->

           <!-- LOADING-->
          <div *ngIf="status" class = "spinner" style = "font-size: 18px">
            <div class = "head"></div>
          </div>
          <!-- End UPLOAD -->
          
          <div *ngIf="message" class="alert alert-success" role="alert">
           {{message}}
          </div>

        </div>
      </div>
    </div>
  </div>